@use "./base.scss";

// put your custom CSS here!

h1 {
    font-size: 2.75rem;
    // font-weight: bold;
  }
  
  h2 {
    font-size: 1.7rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4,
  h5,
  h6 {
    font-size: 1.3rem;
  }

  img {
    max-width: 85%;
  }

  .page-title {
    font-size: 1.5rem;
    margin-right: 5px;
    font-family:  Sacramento, var(--headerFont), Georgia, 'Times New Roman', Times, serif;
  }

  .page-title a {
    font-weight: 100;
  }

  ul.tags {
    // justify-content: center;
    font-size: small
  }

  #footer-links {
    font-size: 0.8rem;
    text-justify: auto;
    margin: 0 auto;
  }

  .recent-ul h3 {
    font-family: var(--bodyFont), Avenir, sans-serif;
    font-size: 1rem;
  }

  .recent-ul p {
    font-size: small;
  }

.banner-img {
  max-width: 150px;
}

h2.article-subtitle {
  margin: 0
}

sup {
  font-size: 0.75rem
}
