@use "./base.scss";

// put your custom CSS here!

h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.4rem;
  }
  
  h4,
  h5,
  h6 {
    font-size: 1.3rem;
  }

  img {
    max-width: 85%;
  }